body {
  background: lightgray;
}

header,
main,
footer {
  min-width: 855px;
}

header .container,
main .container,
footer .container {
  max-width: 855px;
  margin: auto;
}

header {
  background: white;
  overflow: auto;
}

header h1 {
  float: left;
  width: 570px;
}

header nav {
  float: right;
  width: 285px;
}

main {
  background: lightgray;
  overflow: auto;
}

main .left {
  float: left;
  width: 570px;
}

main .right {
  float: right;
  width: 285px;
}

ul {
  border: white solid 1px;
}

p {
  border: #f9e933 solid 5px;
  margin: 20px;
}

li:hover {
  color: gray;
}

a:hover {
  color: yellow;
}

.list-a {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

footer .left {
  float: left;
  width: 570px;
}

footer .sitemap {
  float: right;
  width: 285px;
}
